@use '../config/breakpoints' as bp;
@use '../config/variables' as var;
@use '../config/functions' as func;
@use '../config/mixins' as mixin;

.calc-detail {

   // .calc-detail__grid

   &__grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 56px;
      margin-bottom: func.rem(20);

      @media (max-width:bp.$pc) {
         grid-template-columns: 1fr;
         gap: 20px;
      }
   }

   // .calc-detail__info

   &__info {
      border-radius: 10px;
      background: #fff;
      padding: func.rem(40);
   }

   // .calc-detail__info-row

   &__info-row {
      display: grid;
      grid-template-columns: 200px 1fr;
      gap: 75px;

      &:not(:last-child) {
         margin-bottom: func.rem(22);
      }
   }

   // .calc-detail__info-name

   &__info-name {
      font-style: italic;
      font-weight: 400;
      font-size: 18px;
      color: #000;
   }

   // .calc-detail__info-value

   &__info-value {
      font-weight: 600;
      font-size: 18px;
      color: #000;
   }

   // .calc-detail__currency

   &__currency {
      border-radius: 10px;
      background: #fff;
      padding: func.rem(40);
      display: flex;
      flex-direction: column;
   }

   // .calc-detail__cur-main

   &__cur-main {
      flex: 1 1 auto;
      margin-bottom: func.rem(30);
   }

   // .calc-detail__cur-row

   &__cur-row {
      gap: 30px;
      display: grid;
      grid-template-columns: 175px 60px 1fr;

      &:not(:last-child) {
         margin-bottom: func.rem(22);
      }
   }

   // .calc-detail__cur-name

   &__cur-name {
      font-style: italic;
      font-weight: 400;
      font-size: 18px;
      color: #000;
   }

   // .calc-detail__cur-value

   &__cur-value {
      font-weight: 600;
      font-size: 18px;
      color: #000;
   }

   // .calc-detail__main-currency

   &__main-currency {
      font-weight: 600;
      font-size: 18px;
      color: #3c8dbc;
   }

   // .calc-detail__cur-button

   &__cur-button {
      width: 100%;
   }

   // .calc-detail__errors

   &__errors {
      margin-bottom: func.rem(20);
   }

   // .calc-detail__weight

   &__weight {
      border-radius: 10px;
      background: #fff;
      padding: func.rem(40);
      margin-bottom: func.rem(20);

      .form {

         // .form_calc-weight

         &_calc-weight {
            display: flex;
            align-items: center;
            gap: 29px;
         }

         // .form__main

         &__main {
            display: flex;
            align-items: center;
            gap: 60px;
         }

         // .form__line 
         &__line {
            display: grid;
            grid-template-columns: 1fr 139px;
         }

         // .form__button

         &__button {
            width: 238px;
            flex: 0 0 238px;
         }
      }
   }

   // .calc-detail__main-table

   &__main-table {
      margin-bottom: func.rem(30);
   }

   // .calc-detail__links-dropdown-template

   &__links-dropdown-template {}

   // .calc-detail__link

   &__link {
      padding: func.rem(10) func.rem(30);
      font-weight: 400;
      font-size: 16px;
      line-height: 112%;
      text-align: center;
      color: #fff;
      display: block;

      &:hover {
         background: rgba(255, 255, 255, 0.501);
      }

      &:not(:last-child) {
         margin-bottom: func.rem(10);
      }
   }

   // .calc-detail__section

   &__section {
      background: #fff;
      border-radius: 10px;
      padding: func.rem(40);
   }

   // .calc-detail__buttons

   &__buttons {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 14px 85px;
      position: relative;

      &::before {
         content: '';
         position: absolute;
         height: 100%;
         width: 2px;
         background: #d8d8d8;
         left: 50%;
      }
   }

   // .calc-detail__btn

   &__btn {}

   // .calc-detail__docs

   &__docs {}

   // .calc-detail__docs-row

   &__docs-row {
      display: grid;
      grid-template-columns: 260px 1fr;
      gap: 40px;

      &:not(:last-child) {
         margin-bottom: func.rem(12);
      }
   }

   // .calc-detail__docs-name

   &__docs-name {
      margin-top: func.rem(13);
      font-size: 18px;
   }

   // .calc-detail__docs-links

   &__docs-links {
      display: grid;
      grid-template-columns: repeat(2, 159px);
      gap: 6px 19px;
   }

   // .calc-detail__doc-link

   &__doc-link {
      padding: func.rem(9);
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 13px;

      .doc-type {
         min-width: 49px;
      }
   }
}