@use '../config/breakpoints' as bp;
@use '../config/mixins' as mixin;
@use '../config/functions' as func;

//====================================================================================================
.footer {
   border-top: 1px solid #b5b5b5;
   padding-top: func.rem(24);
   padding-bottom: func.rem(106);
   padding-left: func.rem(73);
   margin-top: func.rem(76);
}

//====================================================================================================