@use '../config/breakpoints' as bp;
@use '../config/variables' as var;
@use '../config/functions' as func;
@use '../config/mixins' as mixin;

.table {
   background: #fff;
   border-radius: 10px;
   padding-bottom: func.rem(23);
   padding-top: func.rem(30);

   // overflow: hidden;
   &.currencies-table {
      max-width: 836px;
   }

   &.calc-detail-table {
      padding-top: 0;
   }

   // .table__sticky-head

   &__sticky-head {
      position: sticky;
      top: 0;
      z-index: 2;
   }

   // .table__title

   &__title {
      font-weight: 600;
      font-size: 16px;
      color: #000;

      margin-bottom: func.rem(26);
      padding-left: func.rem(40);

      .errors-table & {}
   }

   // .table__head

   &__head {
      display: flex;
      margin-bottom: func.rem(10);
      // .table__head_black

      &_black {
         padding: func.rem(14) 0;
         background: #4c4c4c;
         color: #fff;
      }

      .products-table & {
         display: grid;
         grid-template-columns: 100px repeat(3, 1fr) 194px 1fr 285px;

         @media (max-width:bp.$pc) {
            grid-template-columns: 50px repeat(3, 1fr) 100px repeat(2, 1fr);
         }

         &::before {
            content: '';
         }
      }

      .price-guide-table & {
         display: grid;
         grid-template-columns: repeat(2, minmax(200px, 303px)) repeat(3, minmax(100px, 132px)) minmax(180px, 1fr);
      }

      .basic-params-table & {
         display: grid;
         grid-template-columns: 100px 0.899fr 185px 0.7fr 0.89fr 1fr;

         &::before {
            content: '';
         }
      }

      .errors-table & {
         display: grid;
         grid-template-columns: 487px 140px 150px 1fr;
         margin-bottom: func.rem(16);

         @media (max-width:bp.$pc) {
            grid-template-columns: 1fr 140px 150px 1fr;
         }
      }

      .errors-table_col-5 & {
         grid-template-columns: 391px 156px 140px 150px 1fr;

         @media (max-width:bp.$pc) {
            grid-template-columns: 240px 156px 140px 150px 1fr;
         }
      }

      .calc-detail-table & {
         border-radius: 10px 10px 0 0;
         display: grid;
         grid-template-columns: 100px 250px;
         grid-auto-columns: 230px;
         grid-auto-flow: column;
         overflow-x: auto;
         margin-bottom: 0;

         scrollbar-width: none;
         -ms-overflow-style: none;

         &::-webkit-scrollbar {
            display: none;
         }
      }
   }

   // .table__name

   &__name {
      font-style: italic;
      font-size: 16px;
      color: #000;
      padding-left: func.rem(15);

      // .table__name_bold

      &_bold {
         font-weight: 600;
      }

      .price-guide-table & {
         &:first-child {
            padding-left: func.rem(27);
         }
      }

      .errors-table & {
         &:first-child {
            padding-left: func.rem(40);
         }
      }

      .table__head_black & {
         color: #fff;
      }
   }

   // .table__body

   &__body {
      .calc-detail-table & {
         overflow-x: auto;
         scrollbar-width: none;
         -ms-overflow-style: none;

         &::-webkit-scrollbar {
            display: none;
         }
      }
   }

   // .table__row

   &__row {
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);

      &:first-child {
         border-top: 1px solid rgba(0, 0, 0, 0.25);
      }

      &:nth-child(odd) {
         background: #f8f8f8;
      }

      &:hover {
         .table__actions-buttons {
            opacity: 1;
            visibility: visible;
         }
      }

      &[data-dropdown-triger] {
         position: relative;
         cursor: pointer;
      }

      .products-table & {
         display: grid;
         grid-template-columns: 100px repeat(3, 1fr) 194px 1fr 285px;

         @media (max-width:bp.$pc) {
            grid-template-columns: 50px repeat(3, 1fr) 100px repeat(2, 1fr);
         }
      }

      .currencies-table & {
         display: grid;
         grid-template-columns: 100px 1fr;
      }

      .price-guide-table & {
         display: grid;
         grid-template-columns: repeat(2, minmax(200px, 303px)) repeat(3, minmax(100px, 132px)) minmax(180px, 1fr);
      }

      .permits-docs-table & {
         display: grid;
         grid-template-columns: 1fr 170px 300px 0.76fr;

         @media (max-width:bp.$pc) {
            grid-template-columns: 1fr 170px 276px minmax(240px, auto);
         }
      }

      .construction-docs-table & {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
      }

      .docs-list-table & {
         display: grid;
         grid-template-columns: 642px 1fr;
      }

      .basic-params-table & {
         display: grid;
         grid-template-columns: 100px 0.899fr 185px 0.7fr 0.89fr 1fr;
      }

      .trade-margins-table & {
         display: grid;
         grid-template-columns: 100px 1fr;
      }

      .errors-table & {
         display: grid;
         grid-template-columns: 487px 140px 150px 1fr;


         @media (max-width:bp.$pc) {
            grid-template-columns: 1fr 140px 150px 1fr;
         }
      }

      .errors-table_col-5 & {
         grid-template-columns: 391px 156px 140px 150px 1fr;

         @media (max-width:bp.$pc) {
            grid-template-columns: 240px 156px 140px 150px 1fr;
         }
      }

      .calc-detail-table & {
         min-width: min-content;
         display: grid;
         grid-template-columns: 100px 250px;
         grid-auto-columns: 230px;
         grid-auto-flow: column;
      }

      .table__dnd-container & {
         background: #ffc108;
      }

      .table__dnd-block & {
         border-color: #fff;

         // .table__row_green

         &_green {
            background: #29a745;
         }

         // .table__row_light-blue

         &_light-blue {
            background: #87cefa;
         }

         // .table__row_violet

         &_violet {
            background: #6f42c1;
            color: #fff;
         }
      }
   }

   // .table__cell

   &__cell {
      padding: func.rem(6) func.rem(15);
      display: flex;

      &:not(:last-child) {
         border-right: 1px solid #c0c0c0;
      }

      &:has(.gripper) {
         justify-content: center;
         align-items: center;
      }

      &:has(.context-menu) {
         justify-content: space-between;
      }

      // &:has(.table__actions-buttons) {
      //    display: grid;
      //    grid-template-columns: 1fr auto;
      //    align-items: center;
      // }

      &:has(.table__actions-buttons) {
         justify-content: space-between;
         align-items: center;

         .permits-docs-table & {
            align-items: start;

            @media (max-width:bp.$pc) {
               .table__text {
                  width: 120px;
               }
            }
         }
      }

      .price-guide-table & {
         padding-left: func.rem(15);

         &:first-child {
            padding-left: func.rem(27);
         }
      }

      .errors-table & {
         border-right: none;

         &:first-child {
            padding-left: func.rem(40);
         }
      }

      .req-table & {
         &:first-child {
            padding-left: func.rem(40);
         }
      }
   }

   // .table__text
   a.table__text {
      &:hover {
         text-decoration: underline;
      }
   }

   &__text {
      overflow-wrap: anywhere;

      img {
         margin-right: func.rem(7);
         vertical-align: bottom;
      }

      // .table__text_bold

      &_bold {
         font-weight: 600;
      }
   }

   // .table__actions-buttons

   &__actions-buttons {
      padding-right: func.rem(17);
      display: flex;
      align-items: center;
      gap: 22px;
      opacity: 0;
      visibility: hidden;
   }

   // .table__button

   &__button {
      &:hover {
         img {
            opacity: 0.5;
         }
      }

      img {
         max-width: 100%;
      }

      // .table__button_edit

      &_edit {
         width: 20px;
         height: 20px;
         flex: 0 0 20px;
      }

      // .table__button_del

      &_del {
         width: 15px;
         height: 19px;
         flex: 0 0 15px;
      }
   }

   // .table__link

   &__link {
      height: auto;
      align-items: center;
      font-weight: 400;
      font-size: 16px;
      line-height: 137%;
      color: #7d0606;
      gap: 35px;
      display: flex;
      align-items: center;
      padding-left: func.rem(20);

      img {
         width: 21px;
         flex: 0 0 21px;
      }

      &:hover {
         text-decoration: underline;
      }
   }

   // .table__doc-statys

   &__doc-statys {
      display: flex;
      gap: 10px;
      align-items: flex-start;

      img {
         height: auto;
         width: 20px;
         flex: 0 0 20px;
      }
   }

   // .table__custom-scrollbar

   &__custom-scrollbar {
      height: 20px;
      background: #fff;
      position: relative;
   }

   // .table__track

   &__track {
      height: 100%;
      position: relative;
   }

   // .table__thumb

   &__thumb {
      height: 11px;
      width: 50px;
      background: #bf152a;
      border-radius: 5px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      cursor: pointer;
   }

   // .table__footer

   &__footer {
      margin-top: func.rem(25);
      display: flex;
      justify-content: center;
      align-items: center;
   }

   // .table__button

   &__button {
      // width: 750px;
   }
}